body {
  padding-top: 56px;
}

div #carouselExampleIndicators {
  margin: 20px 0px;
}

div .card-deck {
  margin-bottom: 40px;
}

#rooms-title {
  margin-bottom: -25px;
}

#room-title {
  margin-top: 20px;
}

#room-img {
  margin-top: 30px;
}

.text-center {
  margin-top: 30px;
}

#room-description {
  text-align: left;
}

#login-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

#username {
  text-transform: capitalize;
}

#logout-link {
  cursor: pointer;
}

#footer-login {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#reservation-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

#reservations-list {
  margin: 2% 3% 5% 3%;
}

#accepted {
  color: green;
  font-weight: bold;
}

#rejected {
  color: red;
  font-weight: bold;
}

#accept-reservation {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 30%;
}

#reject-reservation {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 30%;
}

.text-centered {
  text-align: center;
}

#shopping-cart {
  margin: 2% 10%;
}

#shopping-buttons {
  margin-bottom: 2%;
}

#success-section {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 50%;
}

#errors-section {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  margin-top: 10px;
}

.required {
  color: red;
}

#fixed-pos {
  background-color: #343a40;
  color: white;
  position: fixed;
  width: 20%;
}

#bigger {
  font-size: 20px;
}

@-moz-document url-prefix() {
  #cart-img { height: 162px; }
}